# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.tab.c
*.tab.h
lex.yy.cc
lex.yy.c

*.hh
tinc.cc

parser
